.blog {
  position: relative;
  min-height: 100vh;
  max-width: 90rem;
  margin: 0 auto;
  padding-top: 6.25rem;
  overflow-x: hidden;
  @include placeholder {
    size: 2vh;
    color: black;
    font-weight:100;
}

  &__searchStyle{
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (--tablet) {
      flex-direction: row;
    }

    @media (--laptop) {
      flex-direction: row;
    }

    @media (--desktop) {
      flex-direction: row;
    }

    @media (--monitor) {
      flex-direction: row;
    }
  }
  &__styleSearcher{
    flex: 1;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    align-self: flex-end;
    margin-right: 4%;
    margin-left: 4%;
    height: 100%;
    width: 100%;
  }
  &__searchInput{
    margin-right: 2%;
    margin-left: 14%;
    flex:1;

  }
  &__btnStyle{
    min-width: 210px;
    color: #fff;
    background-color: #FF5F5F !important;
    height: 60px;
    border-radius: 12px;
    font-size: 28px;
    font-weight: 200;
    border: none;
    padding: 0px 24px;
    line-height: 27px;
    text-decoration: none !important;
    display: inline-flex !important;
    align-items: center;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }


  @media (--tablet) {
    padding: 7.5rem 0;
  }

  @media (--desktop) {
    padding: 7.5rem 2.5rem 6.5vw;

    &--reading {
      padding-bottom: 0;
    }
  }

  @media (--monitor) {
    padding: 7.5rem 0 6.5vw;

    &--reading {
      padding-bottom: 0;
    }
  }

  &__feed {
    position: relative;
    padding: 0 .625rem;

    @media (--tablet) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 0 1.25rem;
    }

    @media (--monitor) {
      padding: 0;
    }
  }

  &__footer {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;

    @media (--tablet) {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    @media (--laptop) {
      justify-content: flex-start;
    }

    @media (--desktop) {
      padding: 0 6.25rem;
    }

    @media (--monitor) {
      padding: 0 2.5rem;
    }

    .signature {
      display: inline-block;
      width: 15rem;

      @media (--tablet) {
        width: 18rem;
      }
    }
  }
}
